*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgba(247, 223, 9, 0.678);
    /* height: 100%; */
    /*
      If I set the height of the html to 100% and it makes the 
      margin at the bottom of container to disappear. WHY?  
    */
}
body {
    height: 100%;
}

.container {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
    color: white;
}
.container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    /* height: 100%; */
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: 250px 800px 200px;
    grid-template-areas: 
    "h h h h h h h h h h h h h h h h h h h h h h h h"
    ". m m m m m m m m m m m c c c c c c c c c c c ."
    "f f f f f f f f f f f f f f f f f f f f f f f f"
     ;
     background-color:white;

     /* 
       why is the contents of this container breaking out of it
       when I reduce the screen size very much?

       I tried to add "min-width : 0;"  to the contents so that 
       they will shrink but that was to no avail.
     */
     min-width: 0;
}

nav {
    /* grid-area: h; */
    grid-column: 1 /-1;
    background-color: #666;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-two {
    /* grid-area: m; */
    grid-column: 13/24;
    background-color: brown;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 50px;
}
footer {
    grid-area: f;
    background-color: #666;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 50px;
    height: 230px;
}
.content-one {
    /* grid-area: c; */
    grid-column: 2 / 13;
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 50px;
}
